.movieInfoContainer{
  background-color: white;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.movieInfoHeader{
    position: relative;
    width: 95%;
    height: 5%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: black;
    top: 1vh;
    color: white;
    text-align: center;
    font-size: 25px;
}

.backdropImage{
    top: 2vh;
    position: relative;
    border: 2px solid black;
    left: 2vw;
    margin-right: auto;
    border-radius: 10px;
}

.background{
    background-color: white;
    position: relative;
    height: 796px;
}

.soundtrackInfo{
  position: relative;
  width: 70%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: auto;
  margin-right: auto;
  top: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
  padding: 10px;

}

.soundtrackTitle{
  position: relative;
  text-align: left;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  left: 1vw;
  top: 2vh;
  display: flex;
}

.soundtrackSongs{
  position: relative;
  height: 50%;
  width: 40%;
  top: 3vh;
  list-style: none;
  left: 1vw;
  margin-bottom: 20px;
}

.song{
  position: relative;
  border-bottom: 1px solid gray;
  padding: 4px;
  font-family: 15px;
}

.warning{
  position: relative;
  border: 1px solid green;
  width: 45%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 7%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.spotifyLogo{
  position: relative;
  height: 20px;
}

.usersOpinion{
  position: relative;
  height: 400px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 3vh;
  background-color: lightgray;
  border-radius: 10px;
}

.middleContent{
  display: flex;
}

.addCommentImg{
  position: absolute;
  left: 5vw;
  border: 1px solid red;
  height: 35px;
}

.addCommentContainer{
  position: relative;
  border: 1px solid blue;
  height: 50px;
  width: 100%;
}