.container{
    position: relative;
    height: 8%;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    border-bottom: 1px solid #0D93DD;
}

.header1{
    color: blue;
}

.logo{
    width: 33.5%;
    height: 100%;
}

.logoImage{
    position: relative;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.search{
    position: relative;
    background-color: white;
    border: 2px solid #0D93DD;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    padding-left: 20px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.searchLogo{
    position: relative;
    height: 25px;
    text-align: center;
    left: 0.5vw;
    top: 50%;
    transform: translateY(-50%);
}

.searchContainer{
    position: relative;
    display: flex;
    width: 34%;
    left: 3vw;
}

.searchLogoContainer{
    background-color: #0D93DD;
    position: relative;
    height: 60%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.searchLogoContainer:hover{
    cursor: pointer;
    background-color: #0783c6;
}

.ulContainer{
    position: relative;
    display: flex;
    list-style: none;
    gap: 4vw;
    margin-left: auto;
    width: 29%;
    justify-content: center;
}

.liContainer{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-weight: bold;
}

.liContainer:hover{
    cursor: pointer;
    background-color: lightgray;
}

.active{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #0D93DD;
    color: white;
}

.linkContainer{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.formContainer{
    position: relative;
    display: flex;
    width: 90%;
}