.movieCardContainer{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 170px;
    border-radius: 10px;
    text-align: center;
    top: 2vh;
}

.movieImage{
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.textStyle{
    position: relative;
    text-align: left;
    text-wrap: wrap;
    left: 1vh;
    top: 0vh;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textStyle2{
    color: gray;
    position: relative;
    text-align: left;
    left: 1vh;
    top: 0vh;
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}