.userRatingContainer{
    position: relative;
    height: 50%;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top: 23vh;
    border-radius: 5px;
}

.nameInput{
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    padding: 3px;
    left: 1vw;
}

.nameLabel{
    position: relative;
    left: 1vw;
}

.commentInput{
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 100px;
}

