.userRatingContainer{
    position: relative;
    height: 50%;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top: 23vh;
    border-radius: 5px;
}

.nameInput{
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    padding: 3px;
    left: 1vw;
}

.nameLabel{
    position: relative;
    left: 1vw;
}

.commentInput{
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 100px;
}

.backgroundContainer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movieTitle{
    position: relative;
    top: 2vh;
    font-size: 17px;
    text-align: center;
}

.usernameInput{
    top: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.usernameInputName{
    position: relative;
    justify-content: left;
    left: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.usernameInputBox{
    position: relative;
    background-color: white;
    border: 0.5px solid black;
    width: 50%;
    padding: 3px;
    color: black;
    left: 1vw;
}

.starRatingContainer{
    position: relative;
    height: 50px;
    top: 3vh;
}

.ratingForm{
    position: relative;
    top: 3vh;
    height: 80%;
}

.ratingDecision{
    top: 3vh;
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.ratingButton{
    position: relative;
    background-color: white;
    width: 70px;
    color: black;
    padding: 2px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.ratingButton:hover{
    cursor: pointer;
    background-color: gray;
}

.starsUl{
    height: 60%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    border: 1px solid blue;
}

.starImg{
    position: relative;
    height: 35px;
    justify-content: center;
}

.userCommentArea{
    position: relative;
    background-color: white;
    color: black;
    resize: none;
    height: 95%;
    width: 95%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.textAreaContainer{
    display: flex;
    position: relative;
    height: 60%;
    top: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}