.movieRatingContainer{
    border: 1px solid green;
    position: relative;
    height: 93%;
}

.allRatings{
    position: relative;
    border: 1px solid blue;
    height: 45%;
}

.componentRating{
    position: relative;
    border: 1px solid red;
    height: 20%;
    display: flex;
}

.personIcon{
    position: absolute;
    left: 11vw;
    height: 32px;
}

.star{
    position: relative;
    height: 26px;
}

.barOutline{
    position: absolute;
    border: 1px solid blue;
    right: 2vw;
    height: 75%;
    width: 50%;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.barAmount{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    left: 0.3vw;
}