.movieRatingContainer{
    position: relative;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.allRatings{
    border-top: 1px solid darkgray;
    position: relative;
    height: 35%;
    border-bottom: 1px solid darkgray;
    padding: 5px;
}

.componentRating{
    position: relative;
    height: 20%;
    display: flex;
}

.personIcon{
    position: absolute;
    left: 11vw;
    height: 24px;
}

.star{
    position: relative;
    height: 26px;
}

.barOutline{
    position: absolute;
    border: 1px solid black;
    right: 2vw;
    height: 75%;
    width: 50%;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.barAmount{
    position: absolute;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    left: 0.3vw;
}

.commentContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    height: 60%;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}