.movieInfoContainer{
  background-color: white;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.movieInfoHeader{
    position: relative;
    width: 95%;
    height: 5%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: black;
    top: 1vh;
    color: white;
    text-align: center;
    font-size: 25px;
}

.backdropImage{
    top: 2vh;
    position: relative;
    border: 2px solid black;
    left: 2vw;
    margin-right: auto;
    border-radius: 10px;
}

.background{
    background-color: white;
    position: relative;
    height: 796px;
}

.soundtrackInfo{
  position: relative;
  width: 40%;
  height: 600px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
}

.soundtrackTitle{
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0D93DD;
  color: white;
}